button.off{
	background-color: blue;
}

button.on{
	background-color: red;
}

button.disabled{
	background-color: grey;
}


.device {
    text-align: left;
    padding-left: 10%;
    padding-right: 2%;
/*     padding-top: 2%; */
/*     padding-bottom: 2%; */
    border-left: solid rgba(0, 219, 118);
    background-color: rgba(0, 219, 118, 20%);
/*     border-radius: 12px; */
/*     filter: hue-rotate(30deg); */
/*     margin: 1%; */
}

.deviceChildren {
/*     display: inline-block; */
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
/*     display: inline-block; */
    filter: hue-rotate(-30deg);
    filter: reset;
	border: none;
	padding: 10px;
	color: white;
	font-size: 20pt;
	border-radius: 8px;
}

