body {
	font-family: Sans-Serif;
	margin: auto;
    width: 900px;
    padding-top: 30px;
    text-align: center;
}

#messageboard {
    color: red
}

.connected {
    color: green;
}

nav {
    padding-top: 40px;
    padding-bottom: 10px;
}

nav > a {
    color: white;
    background-color: blue;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
}

.active {
    background-color: red;
}

button {
	border: none;
	padding: 20px;
	color: white;
	font-size: 20pt;
	border-radius: 8px;
	display: inline-block;
}

button.off{
	background-color: blue;
}

button.on{
	background-color: red;
}

button.disabled{
	background-color: grey;
}

.deviceTree {
    margin: 10px;
    background-color: rgba(0,0,100,0.2);
    border-radius: 8px;
}

.treeChildren{
    justify-content: center;
    align-content: center;
}


.deviceTree > button{
    display: block;
}


/* Setup page */

.deviceMenu {
    display: inline-block;
    padding: 20px;
}

.setChannelButtons > button {
    padding: 10px;
    margin: 0;
}

.deviceMenu {
    background: rgb(240, 240, 240);
    margin: 10px;
    border-radius: 12px;
}

.deviceMenu p {
    text-align: left;
}

