<!DOCTYPE html>
<html>
 
<head>
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
     <script src="{{url_for('static',filename='jquery.js')}}"></script>
     <script src="{{url_for('static',filename='script.js')}}"></script>
     
<img width="200px" src="{{url_for('static',filename='pulsar_logo.svg')}}">

  <nav>
    <a href="{{ url_for('index')}}">Control</a>
    <a href="{{ url_for('setup')}}">Setup</a>
  </nav>
  
  <hr>

  <div class="content">
    {% block content %} {% endblock %}
  </div>

  <hr>
   
</body>

</html>
