{% extends 'base.html' %}

{% block content %}
<h1> {% block title %} Setup {% endblock %}</h1>



{% for device in devices %}
    <div class="setupMenu" >
        <h2>{{device['title']}}</h2>
        <p>id: {{device['id']}}</p>
        <p>activation: {{device['activation']}}</p>
        <p>channel: {{device['channel']}}</p>
        
        <div>
            <button onclick="updateChannel({{device['id']}}, 1)">1</button>
            <button onclick="updateChannel({{device['id']}}, 2)">2</button>
            <button onclick="updateChannel({{device['id']}}, 3)">3</button>
            <button onclick="updateChannel({{device['id']}}, 4)">4</button>
            <button onclick="updateChannel({{device['id']}}, 5)">5</button>
            <button onclick="updateChannel({{device['id']}}, 6)">6</button>
        </div>
        
       <!-- 
 <form method="post">
            <label for="newChannel">New Channel</label>
            <input type="text" name="newChannel">
            <input type="submit" value="update">
        </form>
 -->
    </div>
{% endfor %}

<script src="{{url_for('static',filename='setup_script.js')}}"></script>


{% endblock %}
