{% extends 'base.html' %}

{% block content %}
<h1> {% block title %} Setup {% endblock %}</h1>

<div id="addDeviceform">
    <h2>add a device</h2>
    <form action="/setup" method="post">
        <label for="newDeviceTitle">Title</label>
        <input type="text" name="newDeviceTitle" id="newDeviceTitle" required>
        <input type="submit" value="add">
    </form>
</div>

{% for device in devices %}
    <div class="deviceMenu" >
        <h2>{{device['title']}}</h2>
        <p>activation: {{device['activation']}}</p>
        <p>id: {{device['id']}}</p>
        <p>connected to channel:</p>
        <div class="setChannelButtons">
            <button id="{{device['id']}}-{{device['channel']}}" class="1" onclick="updateChannel({{device['id']}}, 1)">1</button>
            <button id="{{device['id']}}-{{device['channel']}}" class="2" onclick="updateChannel({{device['id']}}, 2)">2</button>
            <button id="{{device['id']}}-{{device['channel']}}" class="3" onclick="updateChannel({{device['id']}}, 3)">3</button>
            <button id="{{device['id']}}-{{device['channel']}}" class="4" onclick="updateChannel({{device['id']}}, 4)">4</button>
            <button id="{{device['id']}}-{{device['channel']}}" class="5" onclick="updateChannel({{device['id']}}, 5)">5</button>
            <button id="{{device['id']}}-{{device['channel']}}" class="6" onclick="updateChannel({{device['id']}}, 6)">6</button>
        </div>
        <form action="/setup" method="post">
            <input type="hidden" name="deviceToDelete" id="deviceToDelete" value="{{device['id']}}">
            <input type="submit" value="delete">
        </form>
    </div>
{% endfor %}

<script src="{{url_for('static',filename='setup_script.js')}}"></script>


{% endblock %}
