body {
	font-family: Sans-Serif;
	margin: auto;
    width: 900px;
    padding-top: 30px;
    text-align: center;
}

#messageboard {
    color: red
}

.connected {
    color: green;
}

nav {
    padding-top: 20px;
/*     padding-bottom: 10px; */
}

nav > a {
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
}

button {
	border: none;
	padding: 20px;
	color: white;
	font-size: 20pt;
	border-radius: 8px;
}

button.off{
	background-color: blue;
}

button.on{
	background-color: red;
}

button.disabled{
	background-color: grey;
}


/* Setup page */

.deviceMenu {
    display: inline-block;
    padding: 20px;
}

.setChannelButtons > button {
    padding: 10px;
    margin: 0;
}

.deviceMenu {
    background: rgb(240, 240, 240);
    margin: 10px;
    border-radius: 12px;
}

.deviceMenu p {
    text-align: left;
}

