/* 
.deviceSettings {
    display: inline-block;
    background-color: rgb(230,230,230);
    border-radius: 12px;
    margin: 2vh;
    padding: 2vw;
}


button {
	border: none;
	padding: 10px;
	color: white;
	font-size: 20pt;
	border-radius: 8px;
}

button.on {
    background-color: red;
}


button.off {
    background-color: blue;
}

button.disabled {
    background-color: grey;
}
 */